.env
.env.local
/vendor/
/uploads/*
!uploads/.gitkeep
node_modules/
/package-lock.json
.DS_Store
*.log
*.swp
*.swo
*~
.vscode/
.idea/
.env.php
*.zip
api.pid
dist/
web-build/
*firebase-adminsdk*.json
serviceAccountKey.json
